.navbar{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background: #11101d;
    height: 58px;
}

.nav-list{
    display: flex;
    list-style: none;
    align-items: center;
    margin-bottom: 0;
}
.nav-item{
    padding: 18px 20px;
}
.nav-item-link{
    text-decoration: none;
    color: #fff;
}
.search{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px;
    border: 1px solid #11101d;
    border-radius: 30px;
    background: #fff;

}
.search-icon{
    color: #11101d;
    padding: 0 2px;
    font-size: 20px;
}
.search-input{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;

}
.translate{
}