.my-search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 4px;
    width: 300px;
    border: 1px solid #e2e2e3;
    overflow: hidden;
    border: 1px solid #96c8da;

}

.my-search-input{
    padding: 10px 14px;
    width: 100%;
    border: none;
    outline: none;

}
.my-search i{
    font-size: 16px;
    color: #909090;
    padding: 0 10px;
}